<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
        <form action="/" method="POST" enctype="multipart/form-data">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                <table>
                        <tr><td><a href= "{{link}}" download=result.xlsx>Скачать</a></td>
                        <td><a href="{{url_for('index')}}">На главную</a></td></tr>
                </table>
        </form>

            <table>
                <tr><td>Банк</td>
                    <td>Дата</td>
                    <td>Дебет</td>
                    <td>Кредит</td>
                    <td>Валюта</td>
                    <td>Назначение</td>
                    <td>Агент</td>
                    <td>Счет</td>
                    <td>ЄДРПОУ</td>
                </tr>

                {% for line in file %}
                <tr>
                {% for string in line %}
                <td>{{ string }}</td>
                {% endfor %}
                </tr>
                {% endfor %}
            </table>
</body>
</html>