<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
        <form action="/" method="POST" enctype="multipart/form-data">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                <table>
                        <tr><td><a href= "{{link}}" download=result.xlsx>Скачать</a></td>
                        <td><a href="{{url_for('index')}}">На главную</a></td></tr>
                </table>
        </form>

            <table>
                <tr><td><b>Банк</b></td>
                    <td><b>Дата<b></td>
                    <td><b>Дебет<b></td>
                    <td><b>Кредит<b></td>
                    <td><b>Валюта<b></td>
                    <td><b>Назначение<b></td>
                    <td><b>Агент<b></td>
                    <td><b>Счет<b></td>
                    <td><b>ЄДРПОУ<b></td>
                </tr>

                {% for line in file %}
                <tr>
                {% for string in line %}
                <td>{{ string }}</td>
                {% endfor %}
                </tr>
                {% endfor %}
            </table>
</body>
</html>